
<section class="blue-section-top-padding" >
  <img src="./assets/img/logo.png" alt="New Years Resolution Challenge" id = "logo"></img>

  <div class="grid-block text-center expanded">
    <div class="grid-content">

      <div class="grid-container medium-10 large-10 small-12 text-left">


        <h2>About Us</h2>
        <p>Every year hundreds of millions of people take time to reflect on the past year and look forward with hope and optimism for the year ahead. This has sparked a worldwide tradition of making a <strong>New Year&rsquo;s Resolution</strong>, in which a person makes a promise to undertake an&nbsp;<strong>act of self improvement</strong>&nbsp;or do something&nbsp;<strong>nice for someone else.</strong><br>
          We want to capture this positivity to help those whose future is less assured AND create a lasting legacy of social action by children for children.<br>
          All donations (minus credit/debit card transaction fees) to the New Year&rsquo;s Resolution Challenge are therefore being split between World Child Cancer (70%) and Schools4Good (30%).  </p>
        <p>&nbsp;</p>

        <section class = "white-separator bgwhite">
          <img src="assets/img/World-Child-Cancer-Logo.png" height="90" width="316" alt = "Whizz kids Charity" />
        </section>
        <p> We are often asked why we focus on helping children with cancer in the developing world. Our answer is that we believe that no child should be left to die of a painful illness when they could be cured with relatively simple and affordable treatments.</p>
        <p>In the developed world one of the enormous medical success stories of the last 50 years is the improved chance of survival for children with cancer. Today 80% of children with cancer in developed countries will survive. In the developing world the picture is very different, where survival rates can be as low as 10%. Thousands of children are dying unnecessarily when they could be treated or cured. Worse still, some of them are dying in pain. </p>
        <p>&nbsp;</p>
        <h2>Who do we help?</h2>
        <p>We are helping some of the poorest children worldwide to access cancer diagnosis, treatment and support. These children, and their families, struggle to access appropriate medical support, and then often face the huge financial burden that a cancer diagnosis brings.</p>
        <p>&nbsp;</p>
        <h2>How do we do this?</h2>
        <p>We develop twinning partnerships between hospitals in the developing world and specialist childhood cancer hospitals in the developed world. Through these partnerships valuable expertise is shared in order to build the capacity and knowledge of local doctors and nurses. We also fund awareness programmes, advocate with policy-makers, fund treatment costs, ward equipment and essential staff posts and help to build the resilience of families during an extremely difficult time.&nbsp;&nbsp;</p>
        <p>&nbsp;</p>
        <h2>Why do we do this?</h2>
        <p>Often in the developing world childhood cancer is misdiagnosed, remains undiagnosed, or is diagnosed too late for treatment to be effective. A large percentage of children with cancer never reach a specialist centre to receive diagnosis, treatment or support. By raising awareness in communities and providing training for healthcare professionals we can change this. Investment in training through twinning programmes establishes a powerful partnership and enables local teams to access knowledge and resources which increase their capacity to provide effective treatment now and in the future.<br>
          To find out more, please visit our <u>website</u> <a href="http://www.worldchildcancer.org">www.worldchildcancer.org</a> </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <section class = "white-separator bgwhite">
          <img src="assets/img/Schools4Good.png" height="90" width="391" alt = "PFA" />
        </section>
         <p> <strong>&ldquo;To promote social responsibility in schools and instil in every pupil the desire to contribute to wider society.&rdquo; </strong><br>
          We want to create a golden age of philanthropy, with schools leading the way and providing every child the inspiration to start a life-long journey of community action <br>
          <strong>Schools4Good programme:</strong></p>
        <ol start="1" type="1">
          <li>To encourage and support all schools to      deliver community action through their pupils</li>
          <li>To deliver a community action      accreditation programme that is nationally recognised and valued by society  </li>
          <li>To support and encourage pupils to set up      and run social enterprises for the benefit of their local communities.  </li>
          <li>To collate and map all community action      undertaken by schools</li>
        </ol>
        <p>&nbsp;</p>
      </div>

    </div>

  </div>
  <section class = "white-separator"></section>

</section>


<div ng-include="'partials/footer.html'"></div>


