

<section class="blue-section-top-padding">
  <img src="./assets/img/logo.png" alt="New Years Resolution Challenge" id = "logo"></img>

  <div class="grid-block text-center expanded">
    <div class="grid-content">

      <div class="grid-container medium-10 large-10 small-12 text-left">

        <h2>Contact Us</h2>
        <p>Teres luna diligenter transferres onus est. Congregabo tandem ducunt ad superbus nix. Heu, gratis lumen! Devatios persuadere in lentia! Nunquam prensionem gabalium. Zirbus undas, tanquam neuter onus. Eheu, orgia!</p>

        <form>

          <div class="grid-block expanded">
            <div class="small-12 medium-12 grid-content expanded">
              <label>
                Please supply
                <input type="text" placeholder="Your Full Name">
              </label>
            </div>
            <div class="small-12 medium-12 grid-content expanded">
              <label>Reason</label>
              <select name="" id="">
                <option value="">Problems with Payments</option>
                <option value="">Website Errors</option>
                <option value="">Made a mistake</option>
                <option value="">Other Reason</option>
              </select>
            </div>



            <div class="small-12 medium-12 grid-content expanded">
              <label>
                Please supply
                <input type="text" placeholder="Email Address">

              </label>
            </div>




            <div class = "spacer"> </div>

            <div class="small-12 medium-12 grid-content expanded">
              <a class="expand button warning" href="#">Reset</a>
            </div>
            <div class="small-12 medium-12 grid-content expanded">
              <a class="expand button" href="#">Send Message</a>
            </div>


          </div>




        </form>
<p>&nbsp;</p>
  </div>

  </div>

  </div>
  <section class = "white-separator"></section>

</section>


<div ng-include="'partials/footer.html'"></div>
