

<!-- Header -->

<div class="grid-block text-center">
    <div class="grid-content text-center">

      <section class="social-group">

           <h1 class = "main-heading line-height-one">Announce Your New Year’s Resolution!</h1>


        <div id = "outer">

          <div id="top">

            <figure id = "group">

              <div id = "group-image">

                <div class = "position-buttons">
                 <a class = "button " id = "make-resolution">Make my Resolution</a>
                 <a class = "button hollow" id = "how-does-it-work">How does it Work</a>
                </div>
              </div>



              </figure>

          </div>

          <div id="bottom">

               <div class = "intro-text">
                <p>A New Year’s resolution is a tradition, in which a person makes a promise to undertake an <strong>act of self improvement</strong> or do something <strong>nice for someone else</strong> – </p>
                <p class = "blue-text"><strong>Well, in 2 minutes you can do BOTH !</strong></p>
              </div>

          </div>

        </div>

      </section>

    </div>


</div>

<div class="grid-block expand">
  <div class="grid-content text-center">
    <section class = "how-works-one">


      <p> Hellow</p>

    </section>

  </div>
</div>
