
<!-- Header -->
<section class="social-group ">

  <div class="grid-block text-center expanded">
    <div class="grid-content expanded">


      <h1 class = "main-heading line-height-one">Announce Your New Year’s Resolution!</h1>


      <div id = "outer">

        <div id="top">

          <figure id = "group">

            <div id = "group-image">

              <div class = "position-buttons">
                <a class = "button" id = "make-resolution" ui-sref="makeyourresolution">Make My Resolution</a>
                <a class = "button hollow" id = "how-does-it-work" onclick = "ScrollButtons.initScroll('how-does-it-work', 'how-it-works')">How Does It Work</a>
              </div>
            </div>
          </figure>

        </div>

        <div id="bottom">

          <div class = "intro-text">
            <p>A New Year’s resolution is a tradition, in which a person makes a promise to undertake an <strong>act of self improvement</strong> or do something <strong>nice for someone else</strong> – </p>
            <p class = "blue-text"><strong>Well, in 2 minutes you can do BOTH !</strong></p>
          </div>

        </div>

      </div>


    </div>


  </div>

</section>

<section class = "base-notice">

  <div class="grid-content expanded">

    <div class = "grid-block logo-strip">

      <div class="grid-block medium-6 large-6 small-12"><figure><img src="assets/img/World-Child-Cancer-Logo.png" height="90" width="316" alt = "Whizz kids Charity" /></figure></div>
      <div class="grid-block medium-6 large-6 small-12"><figure><img src="assets/img/Schools4Good.png" height="90" width="391" alt = "PFA" /></figure></div>

    </div>

  </div>

</section>



<section class = "how-works-one" id = "how-it-works">

  <div class="grid-content expanded">

    <header class="text-center">
      <h2 class = "sub-heading line-height-one">How Does It work?</h2>
    </header>

    <div class="grid-container medium-10 large-10 small-12">

      <div class="grid-block expanded" >
        <div class="grid-content medium-1 small-2 expanded">
          <span class="badge">1</span>
        </div>
        <div class="grid-content medium-11 small-10 expanded">
          <h3>Make your Resolution</h3>
          <p class = "text-x2">It’s easy, just type your resolution in the space provided and make 2017 a year that matters.
          </p>

        </div>
      </div>

      <p>&nbsp;</p>
      <p>&nbsp;&nbsp;</p>

    </div>

  </div>
</section>


<section class = "how-works-two">

  <div class="grid-content expanded">



    <div class="grid-container medium-10 large-10 small-12">

      <div class="grid-block expanded" >
        <div class="grid-content medium-1 small-2 expanded">
          <span class="badge">2</span>
        </div>
        <div class="grid-content medium-11 small-10 expanded">
          <h3>Add Photo or Video</h3>
          <p class = "text-x2">'Reflect' on the past and commit your New Year’s Resolution to friends and family on Facebook. Simply take a photo or video in a mirror and upload.
          </p>
        </div>
      </div>
      <p>&nbsp;</p>
      <p>&nbsp;&nbsp;</p>

    </div>

  </div>
</section>


<section class = "how-works-three">

  <div class="grid-content expanded">

    <div class="grid-container medium-10 large-10 small-12">

      <div class="grid-block expanded" >
        <div class="grid-content medium-1 small-2 expanded">
          <span class="badge">3</span>
        </div>
        <div class="grid-content medium-11 small-10 expanded">
          <h3>Make a donation</h3>
          <p class = "text-x2">Help make 2017 a year for giving by supporting our charity <strong>'World Child Charity'</strong> and social enterprise project <strong>Schools4Good</strong>.	Your donation will be featured on your timeline as part of the post. For more info <a ui-sref = "aboutus">click here</a>
          </p>
        </div>
      </div>

    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

  </div>
</section>


<section class = "how-works-four">

  <div class="grid-content expanded">



    <div class="grid-container medium-10 large-10 small-12">

      <div class="grid-block expanded" >
        <div class="grid-content medium-1 small-2 expanded">
          <span class="badge">4</span>
        </div>
        <div class="grid-content medium-11 small-10 expanded">
          <h3>Share your Resolution and Challenge others</h3>
          <p class = "text-x2">Once you've made your resolution, challenge your friends to do the same. Simply type '@' in the space provided and your Facebook friends will appear. You can also type part of their name and then select who you wish to challenge e.g. @Millie @Maya (you can add as many as you like)
          </p>
        </div>
        <div class="grid-content medium-1 small-2 expanded">

        </div>
        <div class="grid-content medium-11 small-10 expanded">
          <p class = "text-x2"><strong>Your Facebook Post will then look something like this:</strong>
          </p>
        </div>
      </div>
    </div>

  </div>
  <section class = "white-separator"></section>

</section>


<section class = "how-works-five">

  <div class="grid-content expanded">

    <div class="grid-container medium-6 large-6 small-12">


      <div class = "post-content grid-block">

        <div class="grid-content expanded small-2 medium-2 large-2">
          <figure class = "fb-user">
            <img ng-src="./assets/img/facebook-user.png" height="37" width="37" alt = "facebook user" />
          </figure>
        </div>
        <div class="grid-content expanded small-10 medium-10 large-10">
          <strong class = "strong-heading">Paul Kent</strong>
          <p class = "lighten-text">Just now - New Year's Resolution Challenge <i class = "fa fa-users"></i></p>
        </div>


        <div class="grid-content expanded small-12 medium-12 large-12">


          <p class = "text-x2">Lets make 2017 a year for giving and living, I am going to make a difference starting with me in the mirror, my New Year’s Resolution is... <span class = "red-text">I'm going to take up running and complete a 10k run by the end of the year</span>
          </p>
          <p class = "text-x2">As part of my Resolution, I am going to help make 2017 a year of giving by donating <span class = "red-text">£10</span> to <strong>'World Child Cancer' & 'Schools4good'</strong>
          </p>
          <p class = "text-x2">I challenge <span class = "red-text">Jason Fitzpatrick </span>, <span class = "red-text">Martin Kent</span> to make a resolution and stick to it.</p>

          <figure class = "post-content-upload"  >
            <img src="./assets/img/challenge-resolution-two.png" alt = "Video Place Holder" />
          </figure>

          <p>&nbsp;</p>
          <div id="fb-login-custom">
            <a id = "fb-login" href = "javascript:void(0);"><i class = "fa fa-facebook-square fa-fw"></i><span>Post My Challenge to Facebook</span></a>
          </div>
        </div>

      </div>

    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

  </div>
</section>



<div ng-include="'partials/footer.html'"></div>

