
<section class="blue-section-top-padding" ng-init="init()">


  <img src="./assets/img/logo.png" alt="New Years Resolution Challenge" id="logo"/>

  <div class="grid-block text-center expanded">
    <div class="grid-content">

      <div class="grid-container medium-10 large-10 small-12 text-left">

        <h2>Make my Resolution</h2>

        <!-- Grid Examples -->


        <img class="spinner" src="./assets/img/ajax-loader.gif" ng-show="loading"/>

        <div class="grid-block expanded">

          <div class="grid-block medium-12 small-12 expanded">
            <h3>{{resolution.intro}}</h3>
          </div>
        </div>
        <div class="grid-block expanded">

          <div class="grid-block expanded">
            <div class="expo-box">

              <figure class="created-for-fb">
                <img src="./assets/img/fb-made.png" height="50" width="215" alt="made for facebook"/>
              </figure>


              <div class="grid-content medium-12 small-12 clearfix">


                <div class="grid-block expanded">

                  <div class="medium-1 small-2">
                    <figure><img src="../assets/img/apple-icon-57x57.png" height="40" width="40"/></figure>
                  </div>
                  <div class="medium-11 small-10">
                    <h4 class="blue-text float-left">New Year's Resolution Challenge</h4>
                    <div id="fb-login-custom" class="float-right">

                      <div ng-hide="isUserLoggedIn">
                        <a id="fb-login" ng-click="signIn()"><i class="fa fa-facebook-square fa-fw"></i><span>Login with Facebook</span></a>
                      </div>

                      <div ng-show="isUserLoggedIn">
                        <a id="fb-logout" ng-click="signOut()"><i class="fa fa-facebook-square fa-fw"></i><span>Logout from Facebook</span></a>
                      </div>

                    </div>
                  </div>
                </div>


                <hr/>
              </div>

              <div class="grid-block expanded">
                <div class="grid-content medium-7 small-12">

                  <div class="grid-block expanded">
                    <div class="grid-block expanded small-12 medium-3 large-2">
                      <figure class="fb-user">
                        <img ng-src="{{resolution.avitar}}" height="57" width="57" alt="facebook user"/>
                      </figure>
                    </div>


                    <div class="grid-block expanded small-12 medium-9 large-10">


                      <!-- Whats your resolution -->
                      <div class="pledge-card">
                        <div class="pledge-card-divider text-center">
                          <a class="badge success" href="#" zf-popup-toggle="popup">1</a>
                          <zf-popup id="popup" class="padding">
                            <p>It's easy, just type your resolution in the space provided and make 2017 a year that matters.</p>
                          </zf-popup>
                          <h4>
                            What is your resolution?</h4>
                        </div>
                        <div class="pledge-card-section">

                          <div class="grid-block expanded">
                            <div class="grid-block medium-1 small-0">

                            </div>

                            <div class="grid-block medium-11 small-12">
                              <p class="text-x2"><span class="ng-inline-edit__input"
                                                       inline-edit=" resolution.currentResolution "
                                                       inline-edit-placeholder="resolution.currentResolution"
                                                       inline-edit-btn-edit=" click to edit" 
                                                       inline-edit-on-blur="save"
                                                       inline-edit-on-click></span>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>


                      <!-- / Whats your resolution -->


                      <!-- Video -->

                      <div class="pledge-card">
                        <div class="pledge-card-divider text-center">
                          <a class="badge success" href="#" zf-popup-toggle="popup2">2</a>
                          <zf-popup id="popup2" class="padding">
                            <p>Simply take a photo or video and after clicking 'Add Photo or Video', navigate to it's location on your phone or computer.</p>
                          </zf-popup>
                          <h4>Add Your Photo or Video</h4>
                        </div>
                        <div class="pledge-card-section">

                          <div class="grid-block expanded">
                            <div class="grid-block medium-1 small-0">

                            </div>

                            <div class="grid-block medium-11 small-12">

                              <p class="text-x2">'Reflect' on the past and commit your New Year’s Resolution to friends and family on Facebook. Simply take a photo or video in a mirror and upload.</p>


                              <p ng-show="loading">
                                <img class="spinner" src="./assets/img/ajax-loader.gif" ng-show="loading"/>
                              </p>

                              <!--
                               <input type = "file"  name = "vid-file" />
                               <input type="submit" value = "send" />
                               -->

                              <!-- Basic Upload-->
                              <div id="b-upload">
                                <!-- The fileinput-button span is used to style the file input field as button -->


                                <span class="button fileinput-button" ng-disabled="isPageDisabled">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                              Add Photo or Video
                                  <!-- The file input field used as target for the file upload widget -->
                                  <!--name="files[]"-->
                                    <input id="fileupload" type="file" name="file" ng-disabled="isPageDisabled"/>

                              </span>


                                <br>
                                <br>
                                <!-- The global progress bar -->
                                <progress value="0" max="100"></progress>


                                <br>

                              </div>
                              <!-- Basic Upload-->


                            </div>
                          </div>

                        </div>
                      </div>


                      <!-- / Video -->


                      <!-- Pledge -->


                      <div class="pledge-card">
                        <div class="pledge-card-divider text-center">

                          <a class="badge success" href="#" zf-popup-toggle="popup3">3</a>
                          <zf-popup id="popup3" class="padding">
                            <p>Help make 2017 a year for giving by supporting our charity 'World Child Cancer' and social enterprise project 'Schools4Good'.	Your donation will be featured on your timeline as part of the post. </p>
                          </zf-popup>
                          <h4>My Pledge to others</h4>
                        </div>
                        <div class="pledge-card-section">

                          <div class="grid-block expanded">
                            <div class="grid-block medium-1 small-0">

                            </div>


                            <div class="grid-block medium-11 small-12">

                              <form name = "donate-form" novalidate>

                                <aside>
                                  <p class="text-x2">As part of my New Years Resolution I am going to help make 2017 a year of giving by donating to 'World Child Cancer' & 'Schools4Good' <small>Your donation split 70/30 respectively.</small></p>

                                  <section class="grid-block expanded">

                                    <div class="small-12 medium-4 grid-content expanded ">


                                      <input id="dollar" type="radio" name="donations" ng-model="form.currency"
                                             value="$" ng-disabled="isPageDisabled"/><label for="dollar">$</label>
                                      <input id="pound" type="radio" name="donations" ng-model="form.currency"
                                             value="£" ng-disabled="isPageDisabled"/><label for="pound">£</label>

                                    </div>
                                    <div class="small-12 medium-4 grid-content expanded">
                                      <input name ="donation" type="text" ng-model="form.donation" ng-disabled="isPageDisabled"  />
                                    </div>

                                  </section>
                                  <input name ="opt-out-donating" type="checkbox" ng-model="form.opt_out_of_donating" ng-disabled="isPageDisabled">
                                  <label><strong>I do not wish to donate</strong>
                                    <small>(tick if you want to opt out)</small>
                                  </label>


                                  <div id="gift-aid-section" ng-hide="form.opt_out_of_donating"
                                       ng-disabled="isPageDisabled">
                                    <hr/>
                                    <h6>Gift Aid Declaration</h6>
                                    <p>Gift Aid does not cost a penny more, but you can add an additional 25p to every £1
                                      you donate. If you are a UK Taxpayer, consent to Gift Aid and we will be able to
                                      reclaim the tax already paid on your donation.</p>
                                    <input name ="opt-in-gift-aid" type="checkbox" ng-model="form.opt_in_gift_aid"> <label><strong>Yes add Gift
                                    Aid</strong></label>
                                    <p>&nbsp;</p>

                                    <div id="gift-aid-additional" ng-show="form.opt_in_gift_aid">

                                      <p>I confirm that I am a UK taxpayer and I have paid or will pay an amount of Income
                                        Tax and / or Capital Gains Tax that is at least equal to the amount of tax that
                                        all the charities I have donated to will reclaim on my donations for this tax
                                        year. </p>

                                      <p>
                                        <strong>Please tick all the following to confirm your donation is eligible for
                                          Gift Aid</strong>
                                      </p>


                                      <div class="grid-block expanded">

                                        <div class="grid-content medium-1 small-12 expanded">
                                          <input name ="my-own-money" type="checkbox" ng-model="form.this_is_my_money" class="checkbox-small">
                                        </div>
                                        <div class="grid-content medium-11 small-12 expanded">
                                          <p>This is my own money. I am not paying in donations made by a third party e.g.
                                            money collected at an event, in the pub, a company donation or a donation from
                                            a friend or family member.</p>
                                        </div>

                                      </div>

                                      <div class="grid-block expanded">

                                        <div class="grid-content medium-1 small-12 expanded">
                                          <input name ="not-a-lottery" type="checkbox" ng-model="form.this_is_not_lottery"
                                                 class="checkbox-small">
                                        </div>
                                        <div class="grid-content medium-11 small-12 expanded">
                                          <p>I am not making a donation as part of a sweepstake, raffle or lottery.</p>
                                        </div>

                                      </div>


                                      <div class="grid-block expanded">

                                        <label class="grid-content medium-3 small-12 expanded">
                                          <p>Title:</p>
                                        </label>
                                        <div class="grid-content medium-9 small-12 expanded">
                                          <select name ="title" type="text" ng-model="form.title">
                                            <option value="Mr">Mr.</option>
                                            <option value="Mrs">Mrs.</option>
                                            <option value="Miss">Miss.</option>
                                            <option value="Ms">Ms.</option>
                                            <option value="Sir">Mr.</option>
                                          </select>
                                        </div>

                                      </div>

                                      <div class="grid-block expanded">

                                        <label class="grid-content medium-3 small-12 expanded">
                                          <p>First Name:</p>
                                        </label>
                                        <div class="grid-content medium-9 small-12 expanded">
                                          <input name ="firstname" type="text" ng-model="form.firstName">
                                        </div>

                                      </div>

                                      <div class="grid-block expanded">

                                        <label class="grid-content medium-3 small-12 expanded">
                                          <p>Last Name:</p>
                                        </label>
                                        <div class="grid-content medium-9 small-12 expanded">
                                          <input name ="lastname" type="text" ng-model="form.lastName">
                                        </div>

                                      </div>


                                      <div class="grid-block expanded">

                                        <label class="grid-content medium-3 small-12 expanded">
                                          <p>Address:</p>
                                        </label>
                                        <div class="grid-content medium-9 small-12 expanded">
                                          <input name ="address" type="text" ng-model="form.address">
                                        </div>

                                      </div>


                                      <div class="grid-block expanded">

                                        <label class="grid-content medium-3 small-12 expanded">
                                          <p>Postcode:</p>
                                        </label>
                                        <div class="grid-content medium-9 small-12 expanded">
                                          <input name ="postcode" type="text" ng-model="form.postcode">
                                        </div>

                                      </div>

                                    </div>

                                  </div>

                                </aside>

                              </form>

                            </div>

                          </div>

                        </div>

                      </div>


                      <!-- / Pledge -->


                      <!-- Challenge -->

                      <div class="pledge-card">
                        <div class="pledge-card-divider text-center">

                          <a class="badge success" href="#" zf-popup-toggle="popup4">4</a>
                          <zf-popup id="popup4" class="padding">
                            <p>Once you've made your resolution, challenge your friends to do the same. Simply type '@' in the space provided and your Facebook friends will appear. You can also type part of their name and then select who you wish to challenge e.g. @Millie @Maya (you can add as many as you like)
                            </p>
                          </zf-popup>

                          <h4>Challenge others</h4>
                        </div>
                        <div class="pledge-card-section">

                          <div class="grid-block expanded">
                            <div class="grid-block medium-1">
                            </div>
                            <div class="grid-block medium-11">
                              <p class="text-x2">Now for the fun bit, challenge your friends! Type @ in the space below and your Facebook friends will appear. You can also type part of their name and then select e.g. @Jason @Martin (you can add as many as you like)
                              </p>

                              <h5> Challenge Now</h5>
                              <p id="at_mention_input" class="tribute-mention-input" placeholder="@mention your friends"
                                 ng-disabled="isPageDisabled"></p>


                            </div>
                          </div>
                        </div>

                      </div>


                      <p>&nbsp;</p>
                      <!-- / Challenge -->


                    </div>
                  </div>

                </div>


                <div class="grid-content medium-5 small-12 ">

                  <div class="post-content grid-block">

                    <div class="grid-content expanded small-2 medium-2 large-2">
                      <figure class="fb-user">
                        <img ng-src="{{resolution.avitar}}" height="37" width="37" alt="facebook user"/>
                      </figure>
                    </div>
                    <div class="grid-content expanded small-10 medium-10 large-10">
                      <strong class="strong-heading">{{resolution.name}}</strong>
                      <p class="lighten-text">Just now - New Year's Resolution Challenge <i class="fa fa-users"></i></p>
                    </div>
                    <div>
                      <div class="grid-content expanded small-12 medium-12 large-12">
                        <p class="text-x2">{{resolution.currentResolution}}</p>
                      </div>

                      <div class="grid-content expanded small-12 medium-12 large-12 align-center" ng-hide = "form.opt_out_of_donating">
                        <div>
                          <p class="text-x2">As part of my Resolution, I am going to help make 2017 a year of giving by donating {{form.currency}} {{form.donation}} to World Child Cancer & Schools4Good.</p>
                        </div>
                      </div>


                      <div class="grid-content expanded small-12 medium-12 large-12 align-center">

                        <p class="text-x2">{{resolution.currentChallegeStart}} {{ resolution.tagged }} {{
                          resolution.currentChallegeEnd}}</p>

                      </div>

                      <div class="grid-content expanded small-12 medium-12 large-12 align-center">

                        <div id="fb-login-custom-submit">

                          <figure class="post-content-upload">
                            <!-- here -->
                            <!-- The container for the uploaded files -->
                            <div id="files" class="files"></div>

                            <img src="./assets/img/new-year-resolution-challenge.png"
                                 alt="Video Place Holder"
                                 ng-hide="image_chosen"/>


                          </figure>
                          <p>&nbsp;</p>


                        </div>


                        <p class="lighten-text">NYRChallenge.com</p>

                      </div>

                    </div>

                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>

  </div>


  <section class="white-separator"></section>

</section>

<div ng-include="'partials/footer.html'"></div>

<zf-notification-set id="main-notifications" position="top-left" autoclose="3000"></zf-notification-set>
<zf-notification-set id="main-notifications-warning" position="top-left" autoclose="3000"></zf-notification-set>

