
<img href="./assets/css/app.css" rel="stylesheet" type="text/css">




  <section class="white-section-top-padding-modal">

    <div class="grid-block text-center expanded">
      <div class="grid-content">

        <div class="grid-container text-center">

          <figure>
          <img src="../assets/img/group.png" height="275" width="290" alt = "Login is required"/>
          </figure>

           </div>

        <div class="grid-container text-center">

          <h1>Logging in with Facebook is required.</h1>
          <h3>Use the Login with Facebook button</h3>
        </div>


      </div>

    </div>

  </section>


