

<section class="blue-section-top-padding">
  <img src="./assets/img/logo.png" alt="New Years Resolution Challenge" id = "logo"></img>

  <div class="grid-block text-center expanded">
    <div class="grid-content">

      <div class="grid-container medium-10 large-10 small-12 text-left">

      <h2>Privacy Policy</h2>

        <a name="intro"></a><strong>1. Introduction:</strong></li>

        <p>This privacy policy sets out how ISPFA Limited, owners of <a href="http://www.">www.</a><u>NYRChallenge.com</u>, uses and protects any information that you provide when you use this website.</p>
        <p>We are committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will be used only in accordance with this privacy statement. Please read and ensure that you have understood the terms of this privacy policy carefully.</p>
        <p>We may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from 6th December 2016.<br>
        </p>
          <a name="collection"></a><strong>2. What we collect:</strong>
        <p>We may collect the following information:</p>
        <ul type="disc">
          <li>Name</li>
          <li>contact information including email addresses, work/home address</li>
          <li>other information which enables us to operate the service effectively for all      parties</li>
        </ul>
        <p>If you enter information that relates to another person or organisation, you are responsible for ensuring that you have the authority and their permission to do so. Any information relating to children requires the permission of their parent/guardian.<br>
        </p>  <a name="access"></a><strong>3. Who has access to your data:</strong>
        <p>The personal data that you provide us is collected and processed by us and/or our agents. We have a data protection notification reference number: <strong>ZA221344</strong>. You can view this notification at the following site <u>www.ico.gov.uk</u>.</p>
        <p>We will not disclose any personal data except where you have consented to us doing so or where required by law except in exceptional circumstances where personal data may be transferred on sale of Community Inspired Ltd to another company.<br>
        </p> <a name="use"></a><strong>4. What it is used for:</strong>
        <p>Personal data (including sensitive personal data) is only used for providing you with this service and/or other services that you may request from us.</p>
        <p>From time to time we may run voluntary online surveys which may ask you for contact and demographic details (e.g. age). We use this information to create anonymous usage and interest profiles.</p>
        <p>We use this data to provide you with a better service, and in particular for the following reasons:</p>
        <ul type="disc">
          <li>internal      record keeping and administration</li>
          <li>we may      use the information to improve our products and services</li>
          <li>we may      periodically send promotional emails about new products, special offers or      other information which we think you may find interesting using the email      address which you have provided</li>
          <li>from      time to time, we may also use your information to contact you for market      research purposes</li>
          <li>we may      contact you by email, phone, or mail</li>
          <li>we may      use the information to customise the website according to your interests</li>
          <li>if we      believe that the site has been misused, which may include the posting or      sending of offensive or other inappropriate content, or inappropriate      behaviour, we may use your personal information to stop such behaviour</li>
          <li>if we      reasonably believe that the laws of England and Wales have been breached,      we may use your personal information to inform relevant third parties</li>
        </ul>

        <p>We may, from time to time, use your contact details to send you information regarding any developments that we believe may be of interest to you. You can opt-out of receiving such communications at any time by:</p>
        <ul type="disc">
          <li>writing      to or emailing us</li>
          <li>responding      to the unsubscribe mechanism provided in any digital communications which      may be sent to you&nbsp;</li>
        </ul>
        <a name="cookies"></a><strong>5. Cookies:</strong>
        <p>A cookie is a piece of information that is stored on your computer's hard drive by your web browser. It acts as an anonymous identifier when you visit the website and does not contain information from which you can personally be identified. We use this information only for the purpose of creating anonymous usage and interest profiles for the purpose of improving and developing the website and the services that we offer. Cookies may also be contained in advertisements which may be displayed on the website by advertising partners that we work with. We do not have access to any information contained in or generated by these cookies. Most web browsers automatically accept cookies, but usually you can alter the settings of your browser to prevent automatic acceptance. If you choose not to receive cookies, you may still use many of the features of our website.<br>
        </p><a name="xref"></a><strong>6. Transfer of data abroad:</strong>
        <p>We do not send any Personal Data outside of the European Economic Area except in accordance with the Data Protection Act 1998.<br>
        </p>  <a name="security"></a><strong>7. Data security:</strong>
        <p>We take the protection of your privacy and personal data very seriously. We provide a secure server which encrypts the information that you input before it is processed further. The Data Protection Act also requires that we follow strict security procedures in the storage and disclosure of personal data to prevent unauthorised access and we have procedures to ensure that this protection is secured for you in line with this legislation.<br>
        </p><a name="links"></a><strong>8. Links to other websites:</strong>
        <p>Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over such websites, therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and review the privacy statement applicable to all other websites.<br>
        </p>  <a name="control"></a><strong>9. Controlling your personal information:</strong>
        <p>You may choose to restrict the collection or use of your personal information in the following ways:</p>
        <ul type="disc">
          <li>whenever you are asked to fill in a form on the website, look for the box that you can click to indicate that you do not want the information to be used by      anybody for direct marketing purposes</li>
          <li>if you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by writing to or      emailing us.</li>
        </ul>
        <p>We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promotional information about third parties which we think you may find of interest. You will be given the option on this website and on each email to opt out of such mailings at any time.</p>
        <p>If you believe that any information we are holding about you is incorrect or incomplete, please write to or email us as soon as possible, at the address given below. We will promptly correct any information found to be incorrect.<br>
        </p> <a name="info"></a><strong>10. Further Information:</strong>
        <p>We welcome your questions and comments about privacy issues and the design of our website. Should you have any questions or issues you would like to raise with us regarding our data usage practices or the specific use of your data then please contact us:<br>
        </p>
          <label> Email: info@ispfa.uk</label>
            <label>Phone: 01342 821 331</label>
          <label>ISPFA Limited</label>
          <label>Brook House, </label>
          <label>Hammingden Lane, </label>
          <label>Highbrook, </label>
          <label>West Sussex </label>
          <label>RH17 6SR</label><strong>
        <p>Registered in England &amp; Wales: 10294417</p>


    </div>

    </div>

  </div>
  <section class = "white-separator"></section>

</section>


<div ng-include="'partials/footer.html'"></div>
