

<section class="blue-section-top-padding">
  <img src="./assets/img/logo.png" alt="New Years Resolution Challenge" id = "logo"></img>

  <div class="grid-block text-center expanded">
    <div class="grid-content">

      <div class="grid-container medium-10 large-10 small-12 text-left">

        <h2>Your Resolution</h2>

        <!-- Grid Examples -->

        <div class="grid-block expanded" >

          <div class="grid-block medium-12 small-12 expanded">
            <h3>Here is a record of your New Year's Resolultion and challenges given.</h3>
          </div>
        </div>


        <div class="grid-block expanded" >

          <div class="grid-block expanded">



            <div class="grid-block medium-12 small-12 expanded">


              <div class = "post-content grid-block solid-bg-white">

                <div class="grid-content expanded small-1 medium-1 large-1">
                  <figure class = "fb-user">
                    <img ng-src="./assets/img/facebook-user.png" height="37" width="37" alt = "facebook user" />
                  </figure>
                </div>
                <div class="grid-content expanded small-11 medium-11 large-11">
                  <strong class = "strong-heading">Paul Kent</strong>
                  <p class = "lighten-text">New Year's Resolution Challenge <i class = "fa fa-users"></i></p>
                </div>


                <div class="grid-content expanded small-12 medium-12 large-12">


                  <p class = "text-x2">I want to make a change so I am starting with the person in the mirror, my new year’s resolution is to give up smoking and get in good shape physically.</p>
                  <p class = "text-x2">As part of my New Years Resolution I am going to help change lives by Donating £25.00 so others can succeed.</p>

                  <p class = "text-x2">I challenge <a href = "#">Mike Smith</a>, <a href = "#">Paul Smith</a> to make a resolution and stick to it.</p>

                  <figure class = "post-content-upload" >
                    <img src="./assets/img/challenge-resolution-two.png" alt = "Video Place Holder" />
                  </figure>

                  <p>&nbsp;</p>
                  <div id="fb-login-custom">
                    <a id = "fb-login" href = "javascript:void(0);"><i class = "fa fa-facebook-square fa-fw"></i><span>Post My Challenge to Facebook</span></a>
                  </div>
                </div>

              </div>


            </div>







          </div>
        </div>



      </div>

    </div>
  </div>
  <section class = "white-separator"></section>

</section>



<div ng-include="'partials/footer.html'"></div>
