<div class="pledge-card">
  <div class="pledge-card-divider text-center">
    <h4>Challenge others</h4>
  </div>
  <div class="pledge-card-section">

    <div class = "grid-block expanded">
      <div class = "grid-block medium-1">
      </div>
      <div class = "grid-block medium-11">
        <p class = "text-x2">Choose the friends you want to include in your New Year's Resolution Challenge</p>
        <img src="../assets/img/share.png" height="103" width="448"/></div>
      </div>
    </div>




</div>
