<div class="pledge-card">
  <div class="pledge-card-divider text-center">
    <h4>My Pledge to others</h4>
  </div>
  <div class="pledge-card-section">

    <div class = "grid-block expanded">

      <div class = "grid-block medium-12">
        <p class = "text-x2">As part of my New Years Resolution I am going to help change lives by Donating £25.00 so others can succeed even if I fail.</p>
        <input type = "checkbox"> <label><strong>I do not wish to donate</strong></label>
      </div>
    </div>

  </div>
</div>
